<div class="sticky top-[40px] lg:top-0 z-10 w-full lg:py-3 lg:pl-3 lg:px-6 md:mb-8">

    <div class="w-full p-6 px-6 bg-white border border-gray-300 rounded-lg">
    
        <span class="block mb-4 tracking-wider text-center text-black uppercase h2">Categories</span>

        {# <div class="embla">
            <div class="embla__viewport">
                <form class="embla__container latest-news__filters__select" name="cat" role="search" method="get" autocomplete="off" action="{{ function('get_permalink', function('get_queried_object_id', current_term )) }}">
                    {% for cat in categories %}
                        
                        <a href="?cat={{cat.term_id}}" class="flex-shrink-0 px-5 py-2 mr-3 text-black rounded-full cat-item news-filter bg-primary hover:text-gray-500 focus:text-gray-500">{{ cat.name }}</a>
                        
                    {% endfor %}
                </form>
            </div>
        </div> #}

        <div class="flex justify-center flex-nowrap">

            <form class="flex mr-2 navbar-form" role="search" method="get" action="<?php echo esc_url( home_url( '/' ) ); ?>">
                <div class="form-group">
                    <input type="text" name="s" class="form-control search-autocomplete" placeholder="Search">
                </div>
                {# <button type="submit" class="fa fa-search"></button> #}
            </form>

            <form class="ml-2" role="search" method="get" autocomplete="off" action="{{ function('get_permalink', function('get_queried_object_id', current_term )) }}">

                <div class="flex justify-center latest-news__filters__select">

                    <select class="news-filter" name="cat">
            
                        <option value="default">Select by category</option>
            
                        {% for cat in categories %}
                
                            <option value='{{cat.id}}'>{{cat.name}}</option>
                
                        {% endfor %}

                    </select>

                </div>

                <noscript>

                <button type="submit" class="button">Search</button>

                </noscript>

            </form>
        
        </div>

    </div>

</div>