{% if fn('is_front_page') %}
      
      {# Homepage - latest post #}
      {% for post in featured %}

        <div class="flex flex-wrap content-center w-full animate md:pl-4 hero-left" data-animate="fadeIn">
          <p class="block w-full mb-2 uppercase h2 text-secondary">{{preHeading}}</p>
          <p class="block h1xl">{{post.title|capitalize}}</p>
          <p class="block w-full" >{{post.content|truncate(30)|striptags|raw}}</p>
          
          {% include "_components/_atoms/button.twig" with {
            buttonText : "Read More",
            buttonLink : post.link,
            buttonIcon : "arrow-right",
            buttonClasses : "block py-3 text-secondary flex-shrink-0 px-5 py-2 mt-5 text-black rounded-full bg-primary hover:text-gray-500 focus:text-gray-500",
          } %}
        </div>

      {% endfor %}

    {% elseif categories %}

        <div class="flex flex-wrap content-center w-full animate md:pl-4 hero-left" data-animate="fadeIn">
          <p class="block w-full mb-0 uppercase h2 text-secondary">{{preHeading}}</p>
          <p class="h1xl">{{heading|capitalize}}</p>
        </div>

    {% else %}

      {# Other Posts / Pages - Hero Block #}
      {% if post.get_field('hero_title_options') == "custom" %}

        <div class="flex flex-wrap content-center w-full animate md:pl-4 hero-left" data-animate="fadeIn">
          <p class="h1xl">{{post.custom_title}}</p>
          <p class="sub-title">{{post.content|truncate(30)|striptags}}</p>
        </div>

      {% else %}

        <div class="flex flex-wrap content-center w-full md:pl-4 md:mr-4 hero-left animate" data-animate="fadeIn">
          <p class="block w-full mb-0 uppercase h2 text-zinc-500">{{preHeading}}</p>
          <p class="h1xl">{{heading}}</p>
        </div>

      {% endif %}   

    {% endif %}