<header class="w-full pt-10 lg:pt-10 lg:pb-10 lg:border-b-8 lg:border-primary-dark">

	<div class="flex justify-center container-test">

		<div class="items-center justify-between px-4 py-8 lg:py-4 basis-64 flex-nowrap grow-0 shrink-0 lg:flex">	

			<a aria-label="Go to homepage" class="block lg:inline-block" href="{{site.site_url}}">
				<img class="mx-auto max-w-40" src="{{options.site_logo.url}}" alt="{{site.title}} Logo"/>
			</a>

		</div>

		<div class="hidden w-full grow-1 navs lg:block">

			<div class="hidden bg-primary top-bar lg:block">

				<div class="container">

					<nav id="menu-secondary" class="container hidden menu lg:block" aria-labelledby="secondary-navigation">
						<span class="sr-only" id="secondary-navigation">Secondary Navigation</span>
						<ul class="flex flex-wrap justify-center w-full menu-secondary menu-secondary-js">
							{% for item in secondaryMenu.items %}
								<li class="{{item.class}}">
									<a href="{{item.link}}" class="relative text-gray-500 block p-4 hover:text-black focus:text-black {{ item.current ? 'text-red-500' }}">{{item.name}}</a>
									{% if item.children %}
										<ul class="sub-menu">
											{% for child in item.children %}
												<li class="{{child.class}}">
													<a class="block p-4 text-gray-500 hover:text-black focus:text-black" href="{{child.link}}">{{child.name}}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</nav>

				</div>

			</div>

			<div class="relative items-center hidden bg-primary lg:flex lg:flex-nowrap">

				<div class="lg:flex lg:justify-items-end w-full max-w-[1150px] pl-24">

					<span class="skew-left"></span>

					<nav id="menu-primary" class="blockbg-primary menu" aria-labelledby="primary-navigation">
						<span class="sr-only" id="primary-navigation">Primary Navigation</span>
						<ul class="flex flex-wrap justify-center w-full font-bold uppercase text-secondary menu-primary">
							{% for item in primaryMenu.items %}
								<li class="{{item.class}}">
									<a href="{{item.link}}" class="relative block p-4 hover:text-black focus:text-black {{ item.current ? 'text-red-500' }}">{{item.name}}</a>
									{% if item.children %}
										<ul class="sub-menu">
											{% for child in item.children %}
												<li class="{{child.class}}">
													<a href="{{child.link}}" class="block p-4 text-gray-500 hover:text-black focus:text-black">{{child.name}}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</nav>

				</div>

				<form role="search" method="get" id="searchform" class="flex justify-between w-64 mr-4 border-2 border-gray-300 flex-nowrap grow-0 shrink-0 searchform" action="{{ site.link }}">
					<input type="text" placeholder="SEARCH" value="{{ function('get_search_query') }}" name="s" id="searchbox" class="w-[214px]" />
					<input type="submit" id="searchsubmit" value=" " class="border-l-2 w-[42px] border-gray-300" />
				</form>

				
			</div>

		</div>

	</div>

</header>
