<div class="flex items-stretch w-full md:w-[49%] lg:w-[32%]">
    <a href="{{ cardLink }}" class="relative flex flex-wrap justify-start bg-white border-b-4 group border-b-primary-dark focus:bg-gray-200">
        <div class="relative w-full overflow-hidden grow-0">
            <img data-src="{{ Image((post.thumbnail)).src|resize(800,390) }}" class="object-cover object-center w-full lazyload" width="800" height="390" />
        </div>

        <div class="p-6 grow-1">
            <span class="block mb-2 leading-tight uppercase text-secondary text-md md:text-md">{{ post.category }}</span>
            <span class="block mb-4 text-lg font-bold leading-tight text-secondary md:text-xl">{{ post.title }}</span>
            <span class="text-sm">{{post.content|truncate(10|striptags|raw)}}</span>
        </div>
        
        <div class="card-arrow"></div>
        {{ function('icon', 'arrow-right', 'absolute bottom-2 right-2 text-white text-xl') }}
    </a>
</div>