{#
  Title: Hero
  Description: Hero
  Category: formatting
  Icon: cover-image
  Keywords: hero runner
  Mode: edit
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: false
#}

<div class="relative w-full bg-center bg-cover py-14 hero">

	<span class="triangle-left"></span>
  <span class="triangle-left-bottom"></span>
  <span class="triangle-right-bottom"></span>

  <div class="relative w-full">

    <div class="container flex flex-wrap content-start md:content-between md:flex-row-reverse md:flex-nowrap">

      {% if fn('is_front_page') %}
      
        {% for post in latestpost %}

         {# Homepage - Image from latest post #} 
         {% include "_components/hero-image.twig" with {
           image : Image(post.thumbnail.src).src|resize(400, 200)|tojpg | default(theme.link~"/_assets/images/hero-fallback.jpg"),
         } %}

        {% endfor %}
      
      {% else %}
        
        {# Other Pages - Image from featured image OR fallback #} 
        {% include "_components/hero-image.twig" with {
           image : Image(post.thumbnail.src).src|resize(400, 200)|tojpg | default(theme.link~"/_assets/images/hero-fallback.jpg"),
         } %}
  
      {% endif %}  

      {% if fn('is_front_page') %}
        
        {# Homepage - latest post #}
        {% for post in latestpost %}

          <div class="flex flex-wrap content-center w-full md:mr-4 md:w-6/12 hero-left">
            <p class="h1xl">{{post.title}}</p>
            <p class="sub-title">{{post.content|truncate(30|striptags)}}</p>
          </div>

        {% endfor %}

      {% elseif categories %}

          <div class="flex flex-wrap content-center w-full md:mr-4 md:w-6/12 hero-left">
          <p class="h1xl">{{term.title}}</p>
          {% if single %}
            <p class="h1xl">{{term.name}}</p>
          {% else %}
            <p class="h1xl">{{post.title}}</p>
          {% endif %}
          </div>

      {% else %}

      

        {# Other Posts / Pages - Hero Block #}
        {% if post.get_field('hero_title_options') == "custom" %}

          <div class="flex flex-wrap content-center w-full md:mr-4 md:w-6/12 hero-left">
            <p class="h1xl">{{post.custom_title}}</p>
            <p class="sub-title">{{post.content|truncate(30|striptags)}}</p>
          </div>

        {% else %}

          <div class="flex flex-wrap content-center w-full md:mr-4 md:w-6/12 hero-left">
            <p class="h1xl">{{post.title}}</p>
            <p class="sub-title">{{post.content|truncate(30|striptags)}}</p>
          </div>

        {% endif %}   

      {% endif %}
   
    {# Hero Image - Mobile Only #}
    {# <div class="top-0 right-[20px] hidden w-full md:block md:absolute md:w-6/12 h-96 hero-image">
      <span class="rectangle-top"></span>
      <span class="rectangle-left"></span>
    </div> #}

    </div>

  </div>

</div>

