{#
  Title: Hero
  Description: Hero
  Category: formatting
  Icon: cover-image
  Keywords: hero runner
  Mode: edit
  SupportsAlign: center
  SupportsMode: false
  SupportsMultiple: false
#}

<div class="relative md:py-10 hero-section bg-secondary-light">

  <span class="triangle-left-bottom"></span>
  <span class="triangle-right-top"></span>

  <div class="relative z-20 flex flex-col-reverse flex-wrap w-full hero">

    {# <span class="triangle-left"></span> #}
    
    {# <span class="triangle-right-bottom"></span> #}

    <div class="container">

      <div class="w-full py-8 text-white md:w-5/12 xl:w-2/5 md:pr-16 lg:w-4/12 lg:py-16">

        {% include "_components/hero-text.twig" %}

      </div>

    </div>

    <div data-animate="fade" class="w-full h-full max-h-full overflow-hidden animate md:top-0 md:right-0 md:w-7/12 md:mx-0 md:absolute lg:w-8/12 xl:w-3/5 5xl:right-[-200px] md:block hero-image">
      {% if fn('is_front_page') %}

        {% for post in featured %}

          {# Homepage - Image from latest post #} 
          {% include "_components/hero-image.twig" with {
            image : post.thumbnail.src | default(theme.link~"/_assets/images/hero-fallback.jpg"),
            imageComponent : "tall",
          } %}

        {% endfor %}

      {% else %}

        {% if imageComponent == "tall" %}
            
          {% for post in posts %}

            {# Homepage - Image from latest post #} 
            {% include "_components/hero-image.twig" with {
              image : image | default(theme.link~"/_assets/images/hero-fallback.jpg"),
              imageComponent : "tall",
            } %}

          {% endfor %}
        
        {% else %}
          
          {# Other Pages - Image from featured image OR fallback #} 
          {% include "_components/hero-image.twig" with {
              image : image | default(theme.link~"/_assets/images/hero-fallback.jpg"),
              imageComponent : "short",
            } %}

        {% endif %} 

      {% endif %}

    </div>
    
  </div>

  {# Google Ad Start #} 
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5559077149746016"
     crossorigin="anonymous"></script>
  <!-- UKHI - Banner: Responsive -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-5559077149746016"
      data-ad-slot="3542912460"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  {# Google Ad End #} 

  {# Space for an Ad #} 
  <div class="container relative z-20 pb-10 md:pb-0 md:pt-10">
    {% if options.ad_space_one_graphic %}
      <div class="ad-one-graphic">
        <img class="block w-full mx-auto lg:hidden" src="{{options.ad_space_one_graphic_mobile.url}}" alt="{{site.title}} Logo"/>
        <img class="hidden w-full mx-auto lg:block" src="{{options.ad_space_one_graphic.url}}" alt="{{site.title}} Logo"/>
      </div>
    {% endif %}
    {% if options.ad_space_one_google %}
      <div class="flex justify-center ad-one-google">
        {{ options.ad_space_one_google }}
      </div>
    {% endif %}
  </div>

</div>